@import url("/styles/parchment.css");

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@layer responsive, page, typegraphy;

@layer responsive {
  :root {
    font-size: 16px;
  }
}

@layer page {
  body {
    margin: 3rem;

    background-color: var(--background-color-0);
  }
}

@layer typography.font {
  main {
    font-family: "Noto Serif TC", serif;
    font-weight: 600;

    a {
      color: inherit;
    }

    & > figure > figcaption > details {
      & > summary {
        font-weight: 700;
        font-size: 1.25rem;
      }

      & > :not(summary) {
        color: var(--text-color-1);
      }
    }
  }
}

@layer typography.position {
  main {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    align-items: center;

    & > figure {
      margin: 0;

      max-width: calc(90dvw - 6rem);
      width: auto;

      & > img {
        max-height: calc(90dvh - 6rem);
        width: 100%;

        & + img {
          margin-top: 1rem;
        }
      }

      & > figcaption {
        margin-top: 0.5rem;

        & > details {
          text-align: right;
        }
      }
    }
  }
}
