@import url("/styles/parchment.css");

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@layer responsive, page, typegraphy;

@layer responsive {
  :root {
    font-size: 16px;
  }
}

@layer page {
  body {
    margin: 1rem;

    background-color: var(--background-color-0);
  }
}

@layer typography.font {
  article {
    color: var(--text-color-0);
    font-family: "Noto Serif TC", serif;
    font-weight: 600;

    a {
      color: inherit;
    }

    strong {
      font-weight: inherit;
    }

    & > hgroup {
      & > h1 {
        font-weight: 700;
        font-size: 2.25rem;
      }

      & > p {
        color: var(--text-color-1);
        font-size: 1.25rem;
      }
    }

    & > p:first-of-type:first-letter {
      font-size: 1.75rem;
    }

    &:lang(zh) span:lang(en) {
      font-family: "Noto Serif", serif;
      font-weight: 500;
      font-style: italic;
    }
  }
}

@layer typography.position {
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  article {
    line-height: 1.75rem;

    & > hgroup {
      margin-top: 1.25rem;
      margin-bottom: 0.75rem;

      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-right: 0.75rem;

      & > h1 {
        margin-top: 0;
        margin-bottom: 0.75rem;
      }

      & > p {
        margin-top: 0;
        margin-bottom: 0;

        padding-left: 0.25rem;
      }
    }

    & > img {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;

      min-width: var(--image-min-width);
      max-width: var(--image-max-width);

      &:not(.right) {
        margin-left: 0;
        margin-right: 0.75rem;

        float: left;
      }

      &.right {
        margin-left: 0.75rem;
        margin-right: 0;

        float: right;
      }
    }

    &:lang(zh) span:lang(en) {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }
}

@layer typography.decoration {
  article {
    strong {
      text-emphasis: triangle;
      text-emphasis-position: under;
    }
  }
}
