@import url("/styles/utils.css");
@import url("/styles/parchment.css");

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@layer config, responsive, page, typegraphy;

@layer config {
  :root {
    --body-margin: 1rem;
    --base-text-size: 16px;
  }
}

@layer responsive {
  :root {
    font-size: var(--base-text-size);
  }
}

@layer page {
  body {
    margin: var(--body-margin);

    background-color: var(--background-color-0);
  }
}

@layer typography {
  a {
    color: var(--text-color-0);
  }

  main {
    color: var(--text-color-0);
    font-family: "Noto Serif TC", serif;

    & > section {
      & > h2 {
        font-size: 1.75rem;
        font-weight: 700;
      }

      & > ul {
        font-size: 1.25rem;
        font-weight: 500;

        line-height: 1.75rem;
      }
    }
  }
}
