@import url("/styles/utils.css");
@import url("/styles/parchment.css");

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@layer responsive, page, typegraphy;

@layer responsive {
  :root {
    font-size: 16px;
  }
}

@layer page {
  body {
    margin: 1rem;

    background-color: var(--background-color-0);
  }
}

@layer typography.font {
  main {
    color: var(--text-color-0);
    font-family: "Noto Serif TC", serif;

    a {
      color: inherit;
    }

    & > section {
      & > h2 {
        font-size: 1.75rem;
        font-weight: 700;
      }

      & > ul {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }
}

@layer typography.position {
  main > ul {
    line-height: 1.75rem;
  }
}
